{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}









<div class="wrap">

<h3> Introduction to Room Booking System .</h3>
<h3> This is a Room Booking System designed in <u>Django and HTML , CSS , JS.</u> </h3>
<h4 style='text-align:left;'>&nbsp &nbsp • Users are of two types: 1) manager  2) customer </h4>
<h4 style='text-align:left;'>&nbsp &nbsp   • Manager can 1) Add Slots for Date. &nbsp 2) Declare the number of available rooms </h4>
<h4 style='text-align:left;'>&nbsp &nbsp &nbsp for particular slot. &nbsp 3)View uer bookings for particular Slot. </h4>
<h4 style='text-align:left;'>&nbsp &nbsp • User can   1 ) Book room for a Slot. &nbsp 2)View his Bookings. </h4>
<h4 style='text-align:left;'>&nbsp &nbsp • Every user must authenticate them by Signing Up. </h4>
<h4 style='text-align:left;'>&nbsp &nbsp • Only authenticated users are allowded to Book Rooms. </h4>

</div>





{% endblock %}