{% extends 'base.html' %}

{% block content %}

<div class="wrap">

  <script>
    $(function(){
        $('.datepicker').datepicker({
            endDate: '+0d',
            autoclose: true
        });
    });
  </script>

  <h1>Add Rooms</h1>


  {% if slot_list_unbooked %}
  <ul>
      {% for slot in slot_list_unbooked %}
          <a href ='addroom/{{ slot.id }}'> <p> {{ slot }}</p> </a>
      {% endfor %}
  <ul>
  {% else %}
      <h5> No Slots available </h5>
  {% endif %}

      <h3><b><i> OR </i></b></h3>

    <a href="{% url 'dateInRange' %}"> Add In Range </a> 

    <br>



  {% if slot_list_booked %}
    <b>---------------------------------------------------</b>
  <ul>
      {% for slot in slot_list_booked %}
        {{ slot }} <br>
      {% endfor %}
  <ul>
  {% else %}

  {% endif %}

</div>

{% endblock %}

