{% extends 'base.html' %}

{% block content %}

<div class="wrap">

  <script>
    $(function(){
        $('.datepicker').datepicker({
            endDate: '+0d',
            autoclose: true
        });
    });
  </script>

  <h1>Add Rooms</h1>


  {% if slot_list_unbooked %}
  <ul>
      {% for slot in slot_list_unbooked %}
        <li>  <a href ='addroom/{{ slot.id }}'> <p> {{ slot }}</p> </a> </li>
      {% endfor %}
  <ul>
  {% else %}
      <h5> Add Slot First </h5>
  {% endif %}





{% if slot_list_booked %}
  <h3>  Rooms Alloted For Slot  </h3>
  <ul>
      {% for slot in slot_list_booked %}
       <li> {{ slot }} </li> <br>
      {% endfor %}
  <ul>
  {% else %}

  {% endif %}

</div>

{% endblock %}