{% extends 'base.html' %}

{% block content %}

<div class="wrap">

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h3 style="color: #13294B; ;"> Bookings fot Slot </h3>

  {% if bookings_per_date %}
  <ul>
      {% for booking in bookings_per_date %}
        <li><a href ='userBookingDetails/{{ booking.id }}'> Room No.:  {{ booking.booked_room_number.room_number }} </a></li>
      {% endfor %}
  <ul>
  {% else %}
        <p> No Bookings available for selected slot . </p>
  {% endif %}

</div>



{% endblock %}

