{% extends 'base.html' %}

{% block content %}
<div class="wrap">



    <h1> <i class="fa fa-user"></i> Customer Dashboard</h1>


    {% if date_slot_list %}
        <h4> Available Slots for Booking: </h4>

        <div class="table">
        {% for slots in date_slot_list %}
            <div class="row">
              <a href="{{ slots.id }}/">
                <div class="cell">
                    {{ slots.booking_date }}                
                </div>
                <div class="cell">
                    {{ slots.booking_slot }}
                </div>
              </a>  
            </div>
        {% endfor %}
        </div>


    {% else %}
        <p>No Slots are available.</p> 
    {% endif %}




    {% if full_slots %}
        <h4> Full Slots :</h4>
            <div class='table'>
            {% for slots in full_slots %}
                <div class="row">
                <a href="{{ slots.id }}/">
                    <div class="cell">
                        {{ slots.booking_date }}                
                    </div>
                    <div class="cell">
                        {{ slots.booking_slot }}
                    </div>
                </a>  
                </div>
            {% endfor %}
            </div>

    {% else %}

    {% endif %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="booking">
        
        <a href='{% url 'userRoomBooking' %}'> <i class="fa fa-list"></i> &nbsp; 
            Your Bookings
        </a>
    </div>







</div>
{% endblock %}

