{% extends 'base.html' %}

{% block content %}



<div class = "wrap">
    {% if booking %}
        <h4> Booking Details: </h4>
        <div class="table">


            <div class="row">
                <div class="cell">
                    Name : 
                </div>
                <div class="cell">
                     {{ booking.customer_name }}
                </div>
            </div>


            <div class="row">
                <div class="cell">
                   E-mail :
                </div>
                <div class="cell">
                     {{ booking.customer_email }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                   Contact :
                </div>
                <div class="cell">
                     {{ booking.customer_contact }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                  Booking Purpose :
                </div>
                <div class="cell">
                     {{ booking.booking_purpose }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                  Room Number :
                </div>
                <div class="cell">
                     {{ booking.booked_room_number.room_number }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                   Date :
                </div>
                <div class="cell">
                      {{ booking.booking_date_slot.booking_date }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                   Slot :
                </div>
                <div class="cell">
                     {{ booking.booking_date_slot.booking_slot }}
                </div>
            </div>
        </div>






        <div class="box">
            <a class="button-delete" style="font-size : 20 px;" href="#popup1">Cancel Booking</a>
        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <h5> Are you Sure?</h5>
                <form method = 'POST' >
                    {% csrf_token %}
                    <p> <input class = 'button-delete' type = 'submit' value = "yes"/> <a href='../'></a></p>
                </form>

            </div>
        </div>



    {% else %}
        <p>No booking exist for selected Id.</p>
    {% endif %}





</div>

{% endblock %}





