{% extends 'base.html' %}

{% block content %}


<div class = "wrap">





<h3> Your Bookings </h3>
<table class="neumorphic">


{% if user_booking_list %}

    <ol>
      {% for booking in user_booking_list %}




           <li> <a href ='{{ booking.id }}'> {{ booking }} - &nbsp &nbsp{{ booking.booking_date_slot.booking_date }} </a>  </li><br>



      {% endfor %}
       </ol> 

</table>

{% else %}
    <p> No bookings are available. </p>
{% endif %}


</div>

          

          

{% endblock %}

          <tr>
            <td >  </td>
          </tr>