{% extends 'base.html' %}

{% block content %}
<h1>Customer Bookings</h1>


{% if user_booking_list %}
    <ul>
    {% for bookings in user_booking_list %}
    <ol>
        <li>{{ bookings.id }}</li>
        <li>{{ bookings.booking_date_slot }}</li>
        <li>{{ bookings.customer_name }}</li>
        <li>{{ bookings.customer_email }}</li>
        <li>{{ bookings.customer_contact }}</li>
        <li>{{ bookings.booking_purpose }}</li>
        <li>Room No.:{{ bookings.booked_room_number }}</li>
        <b>-------------------------------------------------</b>
    </ol>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookings are available.</p>
{% endif %}


{% endblock %}

